name: CI - Build & Push Docker Image

on:
  push:
    branches: ["main"]

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build Docker Image
      run: docker build -t strapi ./strapi

    - name: Tag & Push Image
      run: |
        IMAGE_URI="${{ steps.login-ecr.outputs.registry }}/ecs-bluegreen-ecr:${{ github.sha }}"
        docker tag strapi $IMAGE_URI
        docker push $IMAGE_URI
        echo "IMAGE_URI=$IMAGE_URI" >> $GITHUB_ENV

    - name: Save Image URI
      run: echo $IMAGE_URI > image_uri.txt

    - uses: actions/upload-artifact@v4
      with:
        name: image_uri
        path: image_uri.txt